code {
  padding: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: lightgray;
  border-radius: 5px;
  display: block;
}

.loading {
  text-align: center;
}

.container {
  padding: 25px;
  max-width: 600px;
  margin: auto;
}
